body, html {
    scroll-behavior: smooth;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
:root{
    --main-red: rgb(211, 9, 19);
    --main-dark: rgba(20, 20, 20, 0);
    --main-deep-dark: rgb(0, 0, 0);
    --main-grey: rgb(153, 153, 153);
}

/* All */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
    -webkit-font-smoothing: antialiased;
    background: var(--main-dark);
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

/* Scrollbar: */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

/* Header */
.headerSection {
}

.headerSection #background{
    background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),
    url(../images/background.jpg); 
    width: 100vw;
    height: 70vh;
    position: relative;
    filter: blur(8px);
}