/* First Box on Main Page */
.mainPageBox {
    position: relative;
    width: 100%;
    /*height: 4.2rem;*/
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    /*padding: 70px 45px;*/
}

.mainPageBox .card {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mainPageBox .card .card-title {
    display: flex;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.mainPageBox .card .card-text {
    display: block;
    font-size: 1.625rem;
    width: 30vw;
}

.mainPageBox .card .card-image {
    display: flex;
}

.faq-box {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}

.faq-box .faq-card {
    text-align: center;
}

.faq-box .faq-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.faq-box .faq-list {
    width: 75%;
    margin: 2em auto;
}

.faq-box .faq-list .faq-list-item {
    list-style-type: none;
    margin: 0 0 8px 0;
}

.faq-list-item .faq-question {
    display: block;
    text-align: left;
    background: #303030;
    padding: .8em 2.2em .8em 1.2em;
    margin-bottom: 1px;
    font-weight: 400;
    position: relative;
    width: 100%;
    border: 0;
    text-transform: none;
    overflow: visible;
    outline: none;
    font-size: 16px;
    color: white;
}

.no-bottom{
    border-bottom: none;
    padding-bottom: 0;
}

.footer-card {
    width: 100%;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
}
