/* First Box on Main Page */
.mainPageBox {
    position: relative;
    width: 100%;
    /*height: 4.2rem;*/
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    /*padding: 70px 45px;*/
}

.mainPageBox .card .card-title {
    display: flex;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.mainPageBox .card .card-text {
    display: block;
    font-size: 1.625rem;
    width: 30vw;
}

.mainPageBox .card .card-image {
    display: flex;
}
